.container {
    z-index: 10;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100px;
    app-graph {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        border: 0.05rem solid grayscale($color: #0000ff);
    }
}

svg {
    width: 100%;
    height: 100%;
    border-color: blue;
    background-color: white;
  }

.error {
    padding: .1rem;
    font-size: 1rem;
}
