<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Speech Tester
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-label>Speech Results</ion-label>
  <ion-textarea [value]="finalText" cols="20" rows="20" style="border: 1px solid black;">

  </ion-textarea>



  <app-speech-button
    [vertical]="'bottom'"
    [horizontal]="'center'"
    [slot]="'fixed'"
    (speechResultsEvent)="onSpeechResultsEvent($event)"
  ></app-speech-button>
<!--
  <ion-button (click)="launchSpeech($event)"></ion-button> -->

</ion-content>
<!-- <ion-fab vertical="bottom" horizontal="center" slot="fixed">
  <ion-fab-button [disabled]="micDisabled">
    <ion-icon name="mic" (click)="launchSpeech($event)"></ion-icon>
  </ion-fab-button>
</ion-fab> -->

