<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Speech Tester
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
        <ion-label>{{time}}</ion-label>
    </ion-item>
    <ion-item >
      <ion-label class="ion-text-wrap">{{currentState}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-wrap">{{finalResults}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-wrap">{{currentText}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-wrap">{{finalText}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer class="ion-padding">
  <ion-buttons>
    <ion-button (click)="startRecording()">Start</ion-button>
    <ion-button (click)="stopRecording()">Stop</ion-button>
    <ion-button (click)="addNow()">Add</ion-button>
    <ion-button (click)="cancelLast()">Undo</ion-button>
    <ion-button (click)="finish()">Finish</ion-button>
  </ion-buttons>

</ion-footer>
